.column{
  padding: 1em;
  /* margin: 2px; */
  background-image: linear-gradient(#2d6dfc, #043dcc);
  height: 100%;
  /* border-width: 3px;
  border-color: white;
  border-style: solid; */
  border-radius: 5px;
}

.inputLink{
  padding: 1em;
}
