<div class="container">

  <div class="row inputLink">
      <a class="waves-effect waves-light btn col s3 theinput" (click) ="sendToBack()">Add Link to Media</a>
      <input [(ngModel)]="link" class="col s9" type="text" name="link" value="link">
  </div>

  <div class="row">
    <div class="column col l3 s12" >
        <app-columncomponent title="Movies"></app-columncomponent>
    </div>
    <div class="column col l3 s12" >
        <app-columncomponent title="TV Shows" ></app-columncomponent>
    </div>
    <div class="column col l3 s12" >
        <app-columncomponent title="Videos" ></app-columncomponent>
    </div>
    <div class="column col l3 s12" >
        <app-columncomponent title="Books" ></app-columncomponent>
    </div>
  </div>
</div>
